[ink-list]>* {
  position: relative;
  overflow: hidden;
}
.ink {
  display: block!important; position: absolute!important;
  background: #fff;
  opacity: 0.4;
  border-radius: 100%;
  transform: scale(0);
  padding: initial;
}
.ink.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
  100% {opacity: 0; transform: scale(2.5);}
}
