[removable] {
  position: relative;
  overflow: hidden;
}
[removable]>a {
  align-items: center;
  color: #337ab7;
  cursor: pointer;
  display: flex;
  height: 100%;
  min-width: unset;
  position: absolute;
  padding-right: 2px;
  right: 0;
  top: 0;
  background: inherit;
}
[removable]>a:hover {
  text-shadow: 0px 0px 10px #aaa;
  pointer-events:auto;
}
[removable]>a:focus {
  outline: 0;
  text-shadow: 0 0 10px;
}
[removable]>a~:last-child {
  margin-right: 10px;
}
[removable]>select+a, .hidden a {
  display: none;
}
@keyframes disappear {
  100% {
    border: 0;
    opacity: 0;
    min-height: 0;
    max-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
@keyframes shrink {
  0% { max-width: 100% }
  100% { max-width: 0 }
}
[removable].disappear {
  animation: disappear 0.5s forwards, shrink 0.5s linear 9.5s !important;
}
